# save repo space by not including placeholder text fonts
fonts/

# don't include backup files
*.blend1

# don't include renders
mainmenu_*.png
icons/*.png

# don't include compiled files
*_sheet.sht
*_sheet.tga
*_sheet.vtf
*_sheet_enum.txt
